.layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-main);
}

.centerContainer {
  flex: 1;
  margin-left: var(--sidebar-width);
  margin-right: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
